header,
footer {
  color: blue;
  font-size: 2rem; }

.search-form {
  width: 50%; }

.card-item .card-title,
.card-item .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.card-item + .card-item {
  margin-left: 1rem; }
