<form method="POST" action="/search" class="search-form mt-4">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Tìm kiếm</label>
    <input name="keyword" type="text" class="form-control" id="search" />
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Gioi tinh</label>
    <select name="gender" id="gender">
      <option value="gender">GT</option>
      <option value="male">Nam</option>
      <option value="female">Nu</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>